[D-BUS Thumbnailer]
Name=com.nokia.thumbnailer.Gstreamer
MimeTypes=video/3gpp;video/mp4;video/mpeg;video/quicktime;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;
Comment=The gstreamer based video thumbnailer
UriSchemes=file
